<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/angular.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/jquery.rateyo.css" />
    <link rel="stylesheet" href="css/datatables.min.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/media.css">

    <title>One Click</title>
</head>

<body>

    <!-- start social media icon -->
    <div class="social-media">

        <div class="icon">
            <div class="content">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>

            </div>
        </div>
        <div class="icon">
            <div class="content">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="icon">
            <div class="content">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="icon">
            <div class="content">
                <a href="#">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>


    <!-- end social media icone -->
    <!-- start navbar -->

    <nav class="navbar solid fixed-top navbar-expand-lg navbar-light bg-light ">
        <div class="container">
            <a class="navbar-brand" href="index.html">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="resturants.html">Resturant

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="offers.html">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="app.html">App</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Login / Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-shopping-basket"></i>
                            <span class="badge badge-light">
                                <i>9</i>
                            </span>
                        </a>
                    </li>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">My Order</a>
                            <a class="dropdown-item" href="#">Log Off</a>
                        </div>
                    </li>



                </ul>
            </div>
        </div>
    </nav>

    <!-- end navbar -->

    <!-- start order  -->
    <section class="order">
        <div class="container">

            <div class="head row">
                <div class="col-md-10">
                        <h2 style="display: inline;padding-right: 15px;">Shopping cart</h2>
                        <p style="display: inline;padding-right: 15px;">
                            <span>10</span> item</p>
                        <p style="display: inline;">25/4/2018 3:00 Pm</p>
        
                </div>
                
                <div class="col-md-2 total">
                        <p>Totla : </p> <h3>1000 $ </h3>
                    </div>
            </div>
            <div ng-controller="ctr">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Totla</th>
                            <th scope="col">Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders">

                            <td>{{order.name}}</td>
                            <td>{{order.price | currency}}</td>
                            <td>
                                
                                <input type="number" min="1" ng-model="order.quantity">
                            </td>
                            <td>{{order.price * order.quantity | currency }}</td>
                            <td><i class="fa fa-trash-o"></i></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
           <button class="custom-btn-lg">Order Now</button>
           
        </div>
    </section>

    <!-- end order -->

    <!-- start footer  -->

    <div class="footer">
        <div class="row">
            <div class="col-md-1">
                <div class="footer-link">
                    <a href="#"></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-link">
                    <a href="#">contact us</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-link">
                    <a href="#">about</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-link">
                    <a href="#">FAQ</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-link">
                    <a href="#">Previce</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-link">
                    <a href="#">AK software</a>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-link">
                    <a href="#"></a>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <img src="image/ak.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="app-logo">
                        <a href="#">
                            <img src="image/microsoft.png" alt="">
                        </a>
                        <a href="#">
                            <img src="image/appstore.png" alt="">
                        </a>
                        <a href="#">
                            <img src="image/googleplay.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact">
                        <h4>Contact Us</h4>
                        <p>
                            <span>
                                <i class="fa fa-map-marker"></i>
                            </span>beqa`a lebanon</p>
                        <p>
                            <span>
                                <i class="fa fa-phone"></i>
                            </span>+961 78 920 212</p>
                        <p>
                            <span>
                                <i class="fa fa-envelope"></i>
                            </span>MhmmdKholani@gmail.com</p>
                    </div>
                </div>




            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2017 AK Software. All rights reserved.</p>
        </div>
    </div>
    <!-- end footer -->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.parallax-scroll.js"></script>
    <script src="js/InputSpinner.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.rateyo.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/datatables.min.js"></script>
    <script>
       
            var app = angular.module("myApp", []);
        app.controller("ctr", function ($scope) {
            $scope.orders = [{ name: 'pizza', price: '12', quantity: 1 },
            { name: 'kabab', price: '22', quantity: 1 },
            { name: 'falafel', price: '15', quantity: 1 }];




        });
        $(document).ready(function () {
        $("table i").click(function() {
           $(this).parent().parent().remove();
        });

        $("input[type='number']").InputSpinner();
        $(element).InputSpinner(config);
        var config = {
    decrementButton: "<strong>-</strong>", // button text
    incrementButton: "<strong>+</strong>", // ..
    groupClass: "input-group-spinner", // css class of the input-group
    buttonsClass: "btn-outline-secondary",
    buttonsWidth: "2.5em",
    textAlign: "center",
    autoDelay: 500, // ms holding before auto value change
    autoInterval: 100, // speed of auto value change
    boostThreshold: 15, // boost after these steps
    boostMultiplier: 4,
    locale: null // the locale for number rendering; if null, the browsers language is used
};
       
        });
        
        
    </script>



</body>

</html>